.drawer{
  width: drawerWidth;
  flexShrink: 0;
}

.drawerPaper{
  width: drawerWidth
}

.menuButtonDiv{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

.burger_links{
  flex-direction: column;
  padding-top: 10%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.burger_button{
  margin-top: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.logoHead {
  height: 70px;
}

.headerButton {
  color: #333399;
  background: none;
  border: none;
  font-size: 25px;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
}

.call_button_head {
  background: #333399;
  color: white;
  padding: .5em;
  border-radius: .5em;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1160px) {

  .headerButton {
    font-size: 20px;
    margin-left: 0px;
  }

  .links {
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .header {
    flex-direction: column;
    height: 138px;
  }


}